<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">
	  <title>Integrantes</title>
	  <link href="../css/style.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>
  <header class="header">
		<button onclick="window.open('./paginaPrincipal.html'); " style="float: left; margin-right: 20px;">Pagina principal</button>
		<h1 style="text-align: center;">Nombre del grupo</h1>
		<button onclick="window.open('./proyecto.html'); " style="float: right; margin-left: 20px;">Proyecto</button>
		<button onclick="window.open('./integrantes.html'); " style="float: right; margin-left: 20px;">Integrantes</button>
		<button onclick="window.open('./contacto.html'); " style="float: right; margin-left: 20px;">Contacto</button>
	</header> 
	<h1 class="title"> Descripciones de endpoints </h1>
	<p class="content-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget magna quis elit pretium feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in nunc quam. Aenean vitae enim a metus ultrices varius id non sem. Fusce in nulla molestie, facilisis enim id, tempor augue. Praesent aliquet mollis dapibus. Vestibulum ac est sit amet ligula ultrices mollis. Aliquam aliquam pulvinar neque, id accumsan orci bibendum aliquam. In velit sapien, viverra ac facilisis quis, fringilla id lorem.</p>
   <h2 class="section-heading-proyecto"> Pruebas </h2>
	<h3 class="subsubsection-heading-proyecto"> Casos de prueba frontEnd</h3>
  <p class="content-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget magna quis elit pretium feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in nunc quam. Aenean vitae enim a metus ultrices varius id non sem. Fusce in nulla molestie, facilisis enim id, tempor augue. Praesent aliquet mollis dapibus. Vestibulum ac est sit amet ligula ultrices mollis. Aliquam aliquam pulvinar neque, id accumsan orci bibendum aliquam. In velit sapien, viverra ac facilisis quis, fringilla id lorem.</p>
	<h3 class="subsubsection-heading-proyecto"> Casos de prueba backEnd</h3>
	<p class="content-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget magna quis elit pretium feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in nunc quam. Aenean vitae enim a metus ultrices varius id non sem. Fusce in nulla molestie, facilisis enim id, tempor augue. Praesent aliquet mollis dapibus. Vestibulum ac est sit amet ligula ultrices mollis. Aliquam aliquam pulvinar neque, id accumsan orci bibendum aliquam. In velit sapien, viverra ac facilisis quis, fringilla id lorem.</p>

</body>
</html>