<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">
	  <title>Integrantes</title>
	  <link href="../css/style.css" rel="stylesheet" type="text/css" />
	
	</head>

	<body>
		
	  <script src="script.js"></script>

		<!-- Cabecera -->
	<header class="header">
		<button onclick="window.open('./paginaPrincipal.html'); " style="float: left; margin-right: 20px;">Pagina principal</button>
		<h1 style="text-align: center;">Nombre del grupo</h1>
		<button onclick="window.open('./proyecto.html'); " style="float: right; margin-left: 20px;">Proyecto</button>
		<button onclick="window.open('./desarrollo.html'); " style="float: right; margin-left: 20px;">Desarrollo</button>
		<button onclick="window.open('./contacto.html'); " style="float: right; margin-left: 20px;">Contacto</button>
	</header>


<!-- 
	-Anclar los div de integrantes, botones y descripcion para que quede uno debajo del otro
-->
	<div class="div-integrantes">
	  <div class="div-Chantryt">
			<button onclick="window.open('./proyecto.html');">Jorge Chantryt</button>		
	  </div>
	
	  <div class="div-Gerardo">
			<button onclick="window.open('./proyecto.html');">Gerardo Hidalgo</button>		
	  </div>
	
	  <div class="div-Daniel">
			<button onclick="window.open('./proyecto.html');">Daniel Niño</button>		
	  </div>
	
	  <div class="div-Christian">
			<button onclick="window.open('https://github.com/SantiagoVera9812');">Santiago Vera</button>		
	  </div>
	</div>

	<div class="div-descripciones">
		<div class = "div-descripcionChantryt">
			<h2>Jorge Chantryt</h2>
			<h1 class = "subsection-heading">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</h1>
		</div>
		<div class = "div-descripcionHidalgo">
			<h2>Gerardo Hidalgo</h2>
			<h1 class = "subsection-heading"> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</h1>
		</div>
		<div class = "div-descripcionDaniel">
			<h2>Daniel Niño</h2>
			<h1 class = "subsection-heading"> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</h1>
		</div>
		<div class = "div-descripcionVera">
			<h2>Christian Vera</h2>
			<h1 class = "subsection-heading"> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</h1>
		</div>
	</div>



	</body>

</html>