<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <title>Integrantes</title>
	  <link href="../css/style.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>
  <header class="header">
    <a th:href="@{/paginaPrincipal}">
		<button style="float: left; margin-right: 20px;">Pagina principal</button></a>
		<h1 style="text-align: center;">Nombre del grupo</h1>
    <a th:href="@{/proyecto}">
		<button style="float: right; margin-left: 20px;">Proyecto</button></a>
    <a th:href="@{/integrantes}">
		<button style="float: right; margin-left: 20px;">Integrantes</button></a>
		<a th:href="@{/desarrollo}">
    <button style="float: right; margin-left: 20px;">Desarollo</button> </a>

	</header> 

  <div class = "form_contacto">  
  <h1 class="section-heading"> Contactenos </h1>
   <h2 class="subsection-heading">
                <form action ="#" th:action="@{/contacto}" method="POST" th:object="${mensaje}">
                  <label for="nombre" >Nombre
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="text" name="introducir_nombre" th:field="*{nombre}" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                </h2>
              
                <h2 class="subsection-heading">
                  <label for="email" >Email
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="email" name="introducir_email" th:field="*{mensaje.email}" id="email" required="obligatorio" placeholder="Escribe tu Email">
                </h2>
            
                <h2 class="subsection-heading">
                  <label for="telefono" >Teléfono
                  </label>
                    <input type="tel" name="introducir_telefono" th:field="${mensaje.telefono}" id="telefono" placeholder="Escribe tu teléfono">
                </h2>    
              
                <h2 class="subsection-heading">
                  <label for="website" >Sitio web
                  </label>
                    <input type="url" name="introducir_website" th:field="${mensaje.pagina}" id="pagina" placeholder="Escribe la URL de tu web">
                </h2>    
              
                <h2 class="subsection-heading">
                  <label for="asunto" >Asunto
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="text" name="introducir_asunto" th:field="${mensaje.asunto}" id="asunto" required="obligatorio" placeholder="Escribe un asunto">
                </h2>    
              
                <h2 class="subsection-heading">
                  <label for="mensaje" >Mensaje
                    <span class="obligatorio">*</span>
                  </label>                     
                                    <textarea name="introducir_mensaje" th:field="*{mensaje.texto}" id="texto" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea>
                </h2>
                
     <button class = "boton_formulario" type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>
              </form>
      <h3 class="subsection-heading">
                  <span class="obligatorio"> * </span>los campos son obligatorios.
                </h3>   
  </div>

</body>
</html>