<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <title>Integrantes</title>
	  <link href="../css/style.css" rel="stylesheet" type="text/css" />
	
	</head>
<body>
  <header class="header">
	<a th:href="@{/paginaPrincipal}">
		<button style="float: left; margin-right: 20px;">Pagina principal</button></a>
		<h1 style="text-align: center;">Nombre del grupo</h1>
	<a th:href="@{/proyecto}">	
		<button style="float: right; margin-left: 20px;">Proyecto</button></a>
		<a th:href="@{/integrantes}">
		<button style="float: right; margin-left: 20px;">Integrantes</button></a>
		<a th:href="@{/contacto}">
		<button style="float: right; margin-left: 20px;">Contacto</button></a>
	</header> 
	<h1 class="title"> Descripciones de endpoints </h1>
	<p class="content-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget magna quis elit pretium feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in nunc quam. Aenean vitae enim a metus ultrices varius id non sem. Fusce in nulla molestie, facilisis enim id, tempor augue. Praesent aliquet mollis dapibus. Vestibulum ac est sit amet ligula ultrices mollis. Aliquam aliquam pulvinar neque, id accumsan orci bibendum aliquam. In velit sapien, viverra ac facilisis quis, fringilla id lorem.</p>
   <h2 class="section-heading-proyecto"> Pruebas </h2></a>
	<h3 class="subsubsection-heading-proyecto"> Casos de prueba frontEnd</h3>
  <p class="content-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget magna quis elit pretium feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in nunc quam. Aenean vitae enim a metus ultrices varius id non sem. Fusce in nulla molestie, facilisis enim id, tempor augue. Praesent aliquet mollis dapibus. Vestibulum ac est sit amet ligula ultrices mollis. Aliquam aliquam pulvinar neque, id accumsan orci bibendum aliquam. In velit sapien, viverra ac facilisis quis, fringilla id lorem.</p>
	<h3 class="subsubsection-heading-proyecto"> Casos de prueba backEnd</h3>
	
    <div class = "container">
    <table class =  "tg">
        <tr>
            <th class = "tg-aisc" >Descripción</th>
            <td class = "tg-qav3">Identificador de la Prueba:</td>
            <td class = "tg-qav3">001</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Título:</th>
            <td class = "tg-qav3">Registro usuario nuevo</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Descripción:</th>
            <td class = "tg-qav3">Verificar que un nuevo usuario pueda registrarse con éxito.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Diseñada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Ejecutada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Dependencias de las Pruebas:</th>
            <td class = "tg-qav3">Ninguna</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Esperados:</th>
            <td class = "tg-qav3">El nuevo usuario se registra correctamente y se le redirige a la página de perfil.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Reales:</th>
            <td class = "tg-qav3">El nuevo usuario completó el registro sin problemas.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Cumplió o No Cumplió?</th>
            <td class = "tg-qav3">Cumplió</td>
        </tr>
    </table>
</div>
<div class = "container">
<table class = "tg">
        <tr>
            <th class = "tg-aisc">Descripción</th>
            <td class = "tg-qav3">Identificador de la Prueba:</td>
            <td class = "tg-qav3">002</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Título:</th>
            <td class = "tg-qav3">Inicio de Sesión Exitoso</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Descripción:</th>
            <td class = "tg-qav3">Verificar que un usuario pueda iniciar sesión con credenciales válidas.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Diseñada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Ejecutada Por:</th>
            <td class = "tg-qav3">  Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Dependencias de las Pruebas:</th>
            <td class = "tg-qav3"> class = "tg-qav3"001</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Esperados:</th>
            <td class = "tg-qav3">El usuario inicia sesión correctamente y se redirige a la página de inicio.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Reales:</th>
            <td class = "tg-qav3">El usuario inició sesión sin problemas.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Cumplió o No Cumplió?</th>
            <td class = "tg-qav3">Cumplió</td>
        </tr>
    </table>
</div>
<div class="container">
<table class =  "tg">
        <tr>
            <th class = "tg-aisc">Descripción</th>
            <td class = "tg-qav3">Identificador de la Prueba:</td>
            <td class = "tg-qav3"> 002</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Título:</th>
            <td class = "tg-qav3">Inicio de Sesión Exitoso</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Descripción:</th>
            <td class = "tg-qav3">Verificar que un usuario pueda iniciar sesión con credenciales válidas.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Diseñada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Ejecutada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Dependencias de las Pruebas:</th>
            <td class = "tg-qav3">001</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Esperados:</th>
            <td class = "tg-qav3">El usuario inicia sesión correctamente y se redirige a la página de inicio.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Reales:</th>
            <td class = "tg-qav3">El usuario inició sesión sin problemas.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Cumplió o No Cumplió?</th>
            <td class = "tg-qav3">Cumplió</td>
        </tr>
    </table>
</div>
<div class = "container">
<table class =  "tg">
        <tr>
            <th th class = "tg-aisc">Descripción</th>
            <td class = "tg-qav3">Identificador de la Prueba:</td>
            <td class = "tg-qav3">003</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Título:</th>
            <td class = "tg-qav3"> Cargar una Canción de un Álbum</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Descripción:</th>
            <td class = "tg-qav3">Verificar que un usuario pueda cargar con éxito una canción de un álbum seleccionado.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Diseñada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Ejecutada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Dependencias de las Pruebas:</th>
            <td class = "tg-qav3"> 001 y 002</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Esperados:</th>
            <td class = "tg-qav3">La canción seleccionada se carga y comienza a reproducirse.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Reales:</th>
            <td class = "tg-qav3"> La canción se cargó correctamente.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Cumplió o No Cumplió?</th>
            <td class = "tg-qav3">Cumplió</td>
        </tr>
    </table>
</div>
<div class="container">
	<table class =  "tg">
        <tr>
            <th class = "tg-aisc">Descripción</th>
            <td class = "tg-qav3">Identificador de la Prueba:</td>
            <td class = "tg-qav3">004</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Título:</th>
            <td class = "tg-qav3">Votar por un Álbum</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Descripción:</th>
            <td class = "tg-qav3">Verificar que un usuario registrado pueda votar por un álbum y que su voto se registre correctamente en el sistema.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Diseñada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Ejecutada Por:</th>
            <td class = "tg-qav3">Santiago Vera</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Dependencias de las Pruebas:</th>
            <td class = "tg-qav3">001 y 002</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Esperados:</th>
            <td class = "tg-qav3">El usuario inicia sesión con éxito.
El usuario navega a la página del álbum en cuestión.
El usuario encuentra la opción para votar por el álbum.
El usuario hace clic en "Votar".
El voto se registra y se suma correctamente a la puntuación del álbum.
</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Resultados Reales:</th>
            <td class = "tg-qav3">El usuario inició sesión sin problemas.
El usuario accedió a la página del álbum seleccionado.
Encontró la opción para votar por el álbum.
Hizo clic en "Votar".
El voto se registró correctamente y se reflejó en la puntuación del álbum.</td>
        </tr>
        <tr>
            <th class = "tg-aisc">Cumplió o No Cumplió?</th>
            <td class = "tg-qav3">Cumplió</td>
        </tr>
    </table>
</div>
</body>
</html>