<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf,org">

	<head>
	  <meta charset="utf-8">
	  <title>Integrantes</title>
	  <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <script src="../jss/script.js" type="text/javascript" th:inline="javascript"></script>
	
	</head>
<body>
  
  <header class="header">
    <a th:href= "@{/paginaPrincipal}">
		<button style="float: left; margin-right: 20px;">Pagina principal</button></a>
		<h1 style="text-align: center;">Nombre del grupo</h1>
    <a th:href="@{/contacto}">
		<button id="contactoButton" style="float: right; margin-left: 20px;">Contacto</button></a>
		<a th:href="@{/integrantes}">
    <button style="float: right; margin-left: 20px;">Integrantes</button></a>
    <a th:href="@{/desarrollo}">
		<button style="float: right; margin-left: 20px;">Desarrollo</button></a>
	</header> 

  
  <h1 class="title"> MusicaList </h1>
  <h2 class="section-heading-proyecto"> Descripción</h2>
  <p class="content-proyecto">Ud deberá desarrollar una aplicación web donde hayan dos tipo de usuarios diferentes (1) usuario administrador del sistema quien principalmente va crear, editar y eliminar los generos y sus canciones; (2) usuario votante donde el principal objetivo de esta es poder hacer listados de canciones ordenadas de la más votada a la menos quien además de crear y activar su cuenta va poder buscar canciones, verificar listas por género musical y finalmente votar y eliminar su voto, para ver el detalle de este partícular ud podrá verlos en la página web de historias de usuario.</p>
<img src="./imagenes/descripcion.jpg" class="image-centered">
  <h2 class="section-heading-proyecto"> Requerimientos </h2>
  
  <h3 class="subsubsection-heading-proyecto"> Funcionales </h3>
  <h4 class="topicsection-heading-proyecto">Historias de Usuarios</h4>
  <p class="content-proyecto">Usuario votante</p>
  <table class="table-proyecto">
<tbody>
<tr>
<td>HUV.1.	Creación de cuenta</td>
</tr>
<tr>
<td>HUV.2.	Activación de cuenta</td>
</tr>
<tr>
<td>HUV.3.	Autenticación de usuario</td>
</tr>
<tr>
<td>HUV.4.	Ver listas por género musical creadas</td>
</tr>
<tr>
<td>HUV.5.	Buscar canción una canción</td>
</tr>
<tr>
<td>HUV.6.	Votar/Desvotar por una lista</td>
</tr>
</tbody>
</table>
  <p class="content-proyecto">Usuario administrador</p>
  <table class="table-proyecto">
<tbody>
<tr>
<td>HUV.1.	Autenticación de usuario</td>
</tr>
<tr>
<td>HUV.2.	CRUD Géneros músicales</td>
</tr>
<tr>
<td>HUV.3.	CRUD Canciones</td>
</tr>
</tbody>
</table>
  <h3 class="subsubsection-heading-proyecto"> No Funcionales </h3>
  <p class="content-proyecto">
    <ul class = "image-centered">
      <li class="content-proyecto">Para la conexión con la base de datos se deberá usar JPA.</li>
      <li class="content-proyecto">Debe ser capaz de funcionar en sistemas operativos tanto Windows como macOS.</li>
      <li class="content-proyecto">Las consultas a la base de datos deben ser eficientes y optimizadas para evitar tiempos de carga prolongados.</li>
      <li class="content-proyecto">Debe ser intuitiva y fácil de usar, con un tiempo de aprendizaje mínimo para los usuarios.</li>
      <li class="content-proyecto">La página debe ser capaz de manejar al menos 10 usuarios concurrentes sin degradar el rendimiento.</li>
    </ul>
  </p>
  <h1 class="section-heading-proyecto"> Arquitectura General </h1>
   <h2 class="subsection-heading-proyecto"> Modelo Conceptual </h2>
   <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/modeloConceptual.png}" class = "image-centered"/>
   <h2 class="subsection-heading-proyecto"> Modelo Contenedores </h2>
  <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/modeloContenedores.png}" class = "image-centered"/>
   <h2 class="subsection-heading-proyecto"> Modelo Componentes </h2>
  <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/modeloComponente.png}" class = "image-centered"/>
  <h2 class="subsection-heading-proyecto"> Modelo Entidad/Relación </h2>
  <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/modeloDatos.jpeg}" class = "image-centered"> </img>
 <h2 class="subsection-heading-proyecto"> Diagrama de despliegue </h2>
  <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/modeloDespliegue.jpeg}" class = "image-centered"></img>
  <h2 class="subsection-heading-proyecto"> Diagrama de Secuencia </h2>
  <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/modeloSecuencia.png}" class = "image-centered"></img>
  <h2 class="subsection-heading-proyecto"> Mockups </h2>
  <a href="https://www.figma.com/proto/Sijld8xMEuPuV7aJ1W9eQ1/Ranking?type=design&node-id=312-29&t=9hangy8WOsbDJCPJ-0&scaling=scale-down&page-id=0%3A1&starting-point-node-id=312%3A29"><img src="https://cdn-icons-png.flaticon.com/512/1420/1420991.png" alt="Linkmockup" style="width:200px;height:200px;" class = "image-centered"></a>
  <div id="contentContainer"></div>
  <h2 class="subsection-heading-proyecto"> Diagrama de secuencia</h2>
  <img th:alt="proyecto" th:src="@{./imagenes/arquitecturaGeneral/diagramaDeSecuencia.jpeg}" class = "image-centered"></img>
  <div id="contentContainer"></div>
</body>
</html>